<h1>Stocks</h1>

<%= form_tag("/search", method: "get", remote: true) do %>
  <%= label_tag(:symbol, "Search for: ") %>
  <%= text_field_tag(:symbol) %>
  <%= submit_tag("Search") %>
<% end %>

<ul id="stocks"></ul>

<%= line_chart @stocks.group(:symbol).group_by_day(:date, default_value: nil).average(:close_price), min: Stock.minimum(:close_price), max: Stock.maximum(:close_price), library: { plotOptions:{series:{connectNulls: true}}} %>
